<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading animation</title>
    <link rel="stylesheet" href="../static/css/load.css" />
    <script>
      function Redirect() {
window.location = "./index.html";
 }
 setTimeout(function() {
Redirect();
 }, 3000);
  
    </script>
  </head>
  <body>
    <a href="#" onclick="showLoadingPage()"></a>
    <div class="loading-page" id="loadingPage">
      <div class="sqr"></div>
      <div class="sqr"></div>
      <div class="sqr"></div>
      <div class="sqr"></div>
      <div class="sqr"></div>
      <!-- <script src="./load.js"></script> -->
    </div>
  </body>
</html>