*{
    margin: 0;
    padding: 0;
}
/* media_querries */
@media screen and (max-width: 600px) {

    .container img{
        width: 15rem;
    }
}





/*top */
.container{
    display: flex;
    justify-content: space-around;
    background-color: #1E1E1E;
}

.logo{
    width: 30%;
    max-width: 100%;
    height: auto;
    justify-content: center;
}





/*vEdio and text */
#video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 300px; /* Fixed height */
    overflow: hidden; /* Hide the excess video */
    }
    
#video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150vh;
        object-fit: cover; /* Uniformly scale the video */
}


#text-overlay {
    opacity: 80%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;  
    line-height: 1.6;
    overflow: hidden;
}
#text-overlay h1{
    font-family: 'Amaranth',serif;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 50px;
}
#parent-container {
    position: relative;
    overflow:auto;
}
p {
    font-size: .8em;
    margin: 0 0 15px;
}
.WELCOME{
    color: #c6822a;
}
.start-quiz-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.start-quiz-button a{
    text-decoration: none;
    color: violet;
}

.start-quiz-button:hover {
    background-color: #c6822a;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #text-overlay {
        max-width: 90%;
    } 
    #text-overlay h1{
        font-size: 2.3em;
    }
} 
/*HOW TO PLAy*/
.explain {
    /* max-width: 800px; */
    margin: 0px auto;
    padding: 20px;
    background-image: url(./imhj.jpg);
    background-size: 90% 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: comic sans MS;
    box-sizing: border-box;
    width: 100vw;
    background-size: 100%;
    align-items: center;

}

.play {
    color: #c6822a;
    text-align: center;
    font-family: comic sans MS;
    text-shadow: 2.5px 3px 2px #aaa;
}
.heading {
    color: #c6822a;
    margin-top: 20px;
    text-align: center;
    
}
.heading-1{
    color: #29ADB2;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
.best{
    color: #c6822a;
    margin-top: 20px;
    text-align: center;
}
.para {
    color: #000000;
    font-size: 20px;
}

/* Adding animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply animation to each child element */
.explain > div {
    animation: fadeIn 1s ease-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .explain {
        padding: 10px;
    }
    .play {
        font-size: 24px;
    }
    .heading {
        font-size: 18px;
    }
    .para {
        font-size: 14px;
    }
}

/* Additional styling */
h2 {
    color: #29ADB2;
    margin-bottom: 5px;
}

b {
    color: #29ADB2;
    font-weight: bold;
}

/* Adding hover effect on links */
.heading-1 a:hover {
    color: #c6822a;
    cursor:pointer;
}

/* Adding box shadow on hover for some elements */
.explain > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* footer */
.footeer{
    background:#fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
    text-align: center;
    color: #333;
}



/*BLOG CONTENT*/

nav {
    padding: 0;
    margin: 0;
   }
   .about-img{
    width: 100%;
}
   .blog1{
    display: flex;
   }
   
.column-2{
   width : 50vw;
    background-color: rgb(67, 43, 43);
}
.column-1{
    width: 50vw;
}

   .column-2 h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: #29ADB2;
    font-family: 'Amaranth';
   }
.column-2 p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: comic sans MS;
    margin-left: 10px;
    margin-right: 10px;
} 

/* blog2 */
.blog2 {
    display: flex;
    flex-direction: row-reverse;
}
/* .blog2 img {
    height: ;
} */
.column-3{
    width : 50vw;
}
.column-4{
        width : 50vw;
         background-color: #333;
     
}
.column-4 h1{
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: #29ADB2;
    font-family: 'Amaranth';
   }
.column-4 p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: comic sans MS;
    margin-left: 10px;
    margin-right: 10px;
}
/* blog3 */
.blog3{
    display: flex;
   }
.blog3 .column-2 h2,h3{
    text-align: center;
   }
/* blog4 */
.blog4 {
    display: flex;
    flex-direction: row-reverse;
}

   /* Animation for fading effect */
@keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
   }
   
   .about-container {
    animation: fadeIn 1s;
   }

#topic{
    color: #a2c579;
    
}
#engage{
    color: #7958BD;
}
#leader{
    color: #FF735C;
}
#dynamic{
    color: #DB975A;
}
/*nav*/
.menu-container {
    position: fixed;
    top: 0;
    left: 88%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.toggler {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    /* border-radius: 50%; */
}

/* To create a black sphere */
.hamburger {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111;
    /* to centralize the hambuger content that is: the - made by .hamburger>div */
    display: flex;
    justify-content: center;
    align-items: center;
    /* to bring the hambuger forward */
    z-index: 2;
}

/* to create the - in the middle on the hambuger */
.hamburger>div {
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff44f;
    /* to configure a smooth transition of the x on the click */
    transition: .4s;
}

/* To configure the creation of the superior and inferior - */
.hamburger>div:before, .hamburger>div:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff44f;
    /* to configure a smooth transition of the - to / on the click */
    transition: .4s;
}

/* To create the second (superior) - */
.hamburger>div:before{
    top: -10px;
}

/* To create the third (inferior) - */
.hamburger>div:after{
    top: 10px;
}

/* To rotate 135deg the content of the hamburger on the click */
.toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}

/* To hover the transition */
.toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}

/* To rotate 90deg only the superior and inferior the - and create an x */
.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
    transform: rotate(90deg);
    top: 0;
}

/* On the click change to .menu background */
.toggler:checked ~ .menu{
    visibility: visible;
}

.toggler:checked ~ .menu > div{
    transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
    opacity: 1;
}

/* To configure the menu */
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: .6s;
}

/* To create a circle behind the style content */
.menu > div{
    position: absolute;
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > div > div{
    max-width: 90vw;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.menu > div > div > ul > li{
    list-style: none;
}

.menu > div > div > ul > li > a{
    text-decoration: none;
    margin: 0.5rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 550;
    text-transform: uppercase;
    color: #fff;
    transition: .3s;    
}

.menu > div > div > ul > li > a:hover{
    color: #fff44f;
}
