body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(./leaderboard.jpg);
}
.leaderboard-container {
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    /* background-image: url(./leaderboard.jpg); */
    opacity: 90%;
}

h1 {
    color: #F4CE14;
    opacity: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    opacity: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F4CE14;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: #0073e6;
    color: #fff;
    cursor: pointer;
}
